@model Blog.Query.Models.Post.Post
@{
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
    ViewBag.PageHeader = "Dodaj nowy post";
}

@section styles{
    <script src="~/vendor/ckeditor/ckeditor.js"></script>
}

@section scripts{
    <script src="~/admin/js/editor.js"></script>
    <script>
        $(function() {
            initEditor();
            $("form").submit(function() {
                $("#@Html.IdFor(x=> x.Content)").val(CKEDITOR.instances.editor.getData());
            });
        })
    </script>
}
<form action="@Url.Action((string)ViewBag.Action)" method="post" class="form-horizontal">
    <input asp-for="Id" type="hidden" />
    <div class="form-group">
        <label class="col-sm-2 control-label">Kategoria: </label>
        <div class="col-sm-10">
            <input asp-for="CategoryId" type="text" class="form-control" />
        </div>
    </div>
    <div class="form-group">
        <label>Tytuł: </label>
        <input asp-for="Title" type="text" class="form-control" />
    </div>
    <div class="form-group">
        <label>Podtytuł: </label>
        <input asp-for="Description" type="text" class="form-control" />
    </div>
    <input asp-for="Content" type="hidden" />

    <div class="grid-container">
        <div class="grid-width-100">
            <textarea id="editor">
                @Html.Raw(Model.Content)
       </textarea>
        </div>
    </div>
    <br />
    <button id="save" class="btn-lg pull-right btn btn-primary">Zapisz</button>
</form>

