@model Blog.Read.Models.PostWithComments
@{
    ViewBag.BannerImage = "/img/post-bg.jpg";
    ViewBag.BannerHeader = Model.Title;
}

@section BannerDescription{
    Dodano przez @Model.UserName dnia @Model.PostDate.ToString("dd/MM/yyyy")
}

<div>
    @Html.Raw(Model.Content)
</div>

