@using Blog.Query.Models.Post
@model IEnumerable<Blog.Query.Models.Post.PostWithCategoryAndUsername>
@{
    ViewBag.BannerImage = "/img/home-bg.jpg";
    ViewBag.BannerHeader = "CQRS Blog";
}

@section BannerDescription{
    Strona przygotowana na zajęcia ZTP
}

<div class="col-md-2 col-lg-4">
    @await Component.InvokeAsync("Categories")
</div>
<div class="col-lg-8 col-md-10">
    @foreach (var post in Model)
    {
        Html.RenderPartial("_PostListItemPartial", post);
    }
    @if (!Model.Any())
    {
        <h3 class="text-center">Brak wpisów</h3>
    }
</div>
